<form [formGroup]=forma>
  <mat-form-field>
    <input matInput matInput placeholder="Titulo" formControlName="titulo">
  </mat-form-field>

  <mat-form-field>
    <textarea rows="3" matInput placeholder="Descripcion" formControlName="descripcion"></textarea>
  </mat-form-field>

  <button (click)="guardarCambios()" type="button" mat-raised-button color="primary"  name="button">Edit</button>
  <button (click)="onNoClick()" type="button" mat-raised-button color="warn"  name="button">Cancel</button>
</form>
